@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0 !important;
}

input {
    border-radius: 0.25rem;
    border-color: transparent;
    background-color: #eeeeee;
}

button {
    transition: background-color 0.2s;
    border-radius: 0.25rem;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #999999;
    color: white;
}

.hidden {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.background img {
    width: 100vw;
    height: 100vh;
    opacity: 0.7; /* temp */
}

.header-login {
    position: absolute;
    right: 0;
    padding: 20px 30px 20px 20px;
}

.container {
    display: flex;
    flex-direction: column; /* enable vertical align */
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70vh;
    width: 40%;
}

.upper-clock {
    padding: 3rem;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;

    font-size: 4rem;
    border-radius: 1rem;
}

.horizontal-line {
    border: 3px solid #000000;
    border-radius: 0.25rem;
}

.under-clock {
    margin: 0 auto;
}